body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
	margin: 0;
}
#baner {
	background-color: saddlebrown;
    color:white;
    padding: 3px;
	text-align: center;
}
#lewy {
	background: tan;
	height: 400px;
	width: 40%;
	float: left;
}
#srodkowy {
	background: wheat;
	height: 400px;
	width: 20%;
	float: left;
}
#prawy {
	background: tan;
	height: 400px;
	width: 40%;
	float: left;
}
#stopka {
	background: saddlebrown;
	height: 50px;
	text-align: center;
	clear: both;
}
li:hover {
	background-color: sienna;
    color: white
}
img {
	margin-right: 20px;
	float: right;
}
h4 {
	text-align: center;
}
#srodkowy h4 {
    float: left;
    font-size: 10px;
}
input {
    margin: 5px;
}